*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.counter, .stats, .posts, .todos, .comments{
    background-color:  rgb(244, 244, 244);
    padding: 10px;
    margin: 10px 0;
    max-width: 600px;
    width: 100vh;
    text-align: center;
    border-radius: 5px;
}

.count{
    font-size: 3.5rem;
    margin: 10px 0;
}

.appDiv{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 167, 255);
    color: white;
    cursor: pointer;
}

button + button{
    margin-left: 10px;
    background-color: rgb(246, 42, 42);
}

.stats{
    max-width: 600px;
    width: 100vh;
    padding: 61px 10px ;
}

.total{
    font-size: 2.5rem;
}


.posts, .todos, .comments{
    list-style:inside;
    text-align:start;
}

.posts li, .todos li, .comments li{
    margin-bottom: 10px;
}